:root {
  /* Named color values */
  --lch-black: 0% 0 0;
  --lch-white: 100% 0 0;
  --lch-gray: 96% 0.005 96;
  --lch-gray-dark: 92% 0.005 96;
  --lch-gray-darker: 75% 0.005 96;
  --lch-blue: 54% 0.23 255;
  --lch-blue-light: 95% 0.03 255;
  --lch-blue-dark: 80% 0.08 255;
  --lch-orange: 70% 0.2 44;
  --lch-red: 51% 0.2 31;
  --lch-green: 65.59% 0.234 142.49;
  --lch-always-black: 0% 0 0;

  /* Abstractions */
  --color-negative: oklch(var(--lch-red));
  --color-positive: oklch(var(--lch-green));
  --color-bg: oklch(var(--lch-white));
  --color-message-bg: oklch(var(--lch-gray));
  --color-text: oklch(var(--lch-black));
  --color-text-reversed: oklch(var(--lch-white));
  --color-link: oklch(var(--lch-blue));
  --color-border: oklch(var(--lch-gray));
  --color-border-dark: oklch(var(--lch-gray-dark));
  --color-border-darker: oklch(var(--lch-gray-darker));
  --color-selected: oklch(var(--lch-blue-light));
  --color-selected-dark: oklch(var(--lch-blue-dark));
  --color-alert: oklch(var(--lch-orange));

  /* Vampire theme (Dracula-inspired) for dark mode */
  @media (prefers-color-scheme: dark) {
    --lch-black: 97% 0.005 110;
    --lch-white: 24% 0.02 280;
    --lch-gray: 32% 0.02 280;
    --lch-gray-dark: 37% 0.02 280;
    --lch-gray-darker: 50% 0.03 280;
    --lch-blue: 75% 0.12 300;
    --lch-blue-light: 30% 0.04 300;
    --lch-blue-dark: 45% 0.06 300;
    --lch-orange: 78% 0.15 55;
    --lch-red: 65% 0.22 20;
    --lch-green: 80% 0.22 150;
  }
}
